@model IEnumerable<PasswordGeneratorApp.Models.Password>

@{
    ViewData["Title"] = "Index";
    string Overdue(Password password) => password.ExpireDate <= DateTime.Now ? "bg-warning" : "";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SiteURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SitePassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    string overdue = Overdue(item);
        <tr>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.SiteURL)" target="_blank">
                    @Html.DisplayFor(modelItem => item.SiteURL)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SitePassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td class="@overdue">
                @Html.DisplayFor(modelItem => item.ExpireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PasswordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PasswordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PasswordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
